@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex flex-col min-h-screen bg-gray-100;
}

[data-darkmode='true'] {
  @apply text-white bg-zinc-800;
}

section {
  @apply w-full p-6 bg-white rounded-lg shadow-md md:w-3/4;
}

[data-darkmode='true'] section {
  @apply bg-zinc-900;
}

input,
textarea {
  @apply w-full px-3 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-red-700 focus:border-red-700;
}

[data-darkmode='true'] input,
[data-darkmode='true'] textarea {
  @apply text-white border-zinc-800 bg-zinc-800;
}

label {
  @apply block font-medium;
}

.button {
  @apply px-4 py-2 text-white bg-red-700 rounded hover:bg-red-900;
}

.link {
  @apply text-red-700 hover:underline;
}

footer img {
  @apply w-5 h-5;
  aspect-ratio: 1/1;
}

.easteregg {
  font-weight: bold;
  text-shadow: 0 0 5px #7f2fffa1, 0 0 10px #7f2fffa1, 0 0 15px #7f2fffa1, 0 0 20px #7f2fffa1;
  background: linear-gradient(90deg, #7f2fff 30%, #e907a1, #7f2fff 70%);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 1.5s ease-in-out infinite;
  -webkit-animation: gradient-animation 1.5s ease-in-out infinite;
}

.gray-button {
  @apply flex flex-col items-center justify-center p-4 bg-white border-4 border-white border-solid rounded;
}

.gray-button:not([disabled]):hover {
  @apply bg-gray-100;
}

.gray-button[disabled] {
  @apply opacity-25 cursor-not-allowed filter;
}

[data-darkmode='true'] .gray-button {
  @apply bg-zinc-900 border-zinc-900;
}

[data-darkmode='true'] .gray-button:not([disabled]):hover {
  @apply bg-zinc-800;
}

.selected {
  @apply !border-red-700;
}

.gray-button img {
  @apply w-16 h-16;
}

.gray-button span {
  @apply text-xl;
}

section > h2 {
  @apply mb-4 text-2xl;
}

section > div {
  @apply flex flex-col gap-4;
}

.card {
  @apply flex items-center justify-center w-32 h-32 text-3xl hover:cursor-pointer;
}

#game > div {
  @apply w-8 h-8 text-center border border-solid border-zinc-100 hover:!border-red-700;
}

[data-darkmode='true'] #game > div {
  @apply border-zinc-900;
}

[data-owner='0'] {
  @apply text-blue-700;
}

[data-owner='1'] {
  @apply text-red-700;
}

@keyframes gradient-animation {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
